@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Space+Grotesk:wght@400;500;600;700&display=swap');

@import "./Variables.css";
@import "./Animations.css";
@import "./Responsive.css";

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{

font-family:"Poppins",sans-serif;

background:var(--bg-color);

color:var(--white);

overflow-x:hidden;

}

a{
text-decoration:none;
color:inherit;
}

li{
list-style:none;
}

button{

font-family:inherit;

cursor:pointer;

border:none;

outline:none;

}

img{

width:100%;

display:block;

}

section{

padding:var(--section-padding) 10%;

position:relative;

overflow:hidden;

}

.container{

max-width:1200px;

margin:auto;

}

h1,h2,h3,h4{

font-family:"Space Grotesk",sans-serif;

}

::-webkit-scrollbar{

width:8px;

}

::-webkit-scrollbar-track{

background:#050816;

}

::-webkit-scrollbar-thumb{

background:linear-gradient(#00C6FF,#0072FF);

border-radius:20px;

}