.navbar{

position:fixed;

top:20px;

left:50%;

transform:translateX(-50%);

width:90%;

max-width:1400px;

height:75px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 40px;

background:rgba(8,18,38,.75);

backdrop-filter:blur(16px);

border:1px solid rgba(0,198,255,.15);

border-radius:18px;

z-index:999;

box-shadow:0 0 35px rgba(0,198,255,.15);

}

.logo{

font-size:28px;

font-weight:700;

color:#00C6FF;

}

.logo span{

color:white;

}

.nav-links{

display:flex;

gap:35px;

list-style:none;

}

.nav-links li{

cursor:pointer;

transition:.3s;

font-weight:500;

}

.nav-links li:hover{

color:#00C6FF;

}


.mobile-menu{

display:none;

font-size:32px;

cursor:pointer;

}

@media screen and (max-width:768px){

.nav-links{
  display:none;
}

}